ESM
essential
logs
mods
otyacraftengine
schematics
screenshots
shaderpacks
ops.json
options.txt
profile.json
test.gif
rhino.local.properties
usercache.json
usernamecache.json
whitelist.json
crash-reports
iammusicplayer
journeymap/journeymap.log
local
modernfix
saves
journeymap/data
journeymap/icon
journeymap/server
resourcepacks