crash-reports
datapacks
essential
fancymenu_setups
journeymap/data
journeymap/icon
journeymap/journeymap.log
journeymap/server
local
localconfigs
logs
modrinth_logs
mods
resourcepacks
saves
screenshots
shaderpacks
knownkeys.txt
options.txt
profile.json
realms_persistence.json
rhino.local.properties
usercache.json
usernamecache.json
.physics_mod_cache
